/*style.css*/
body {
    font-family: 'Open Sans', sans-serif;
  }
  .home-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  
  .home-container img {
    width: 300px;
    margin: 20px;
  }
  
  h1 {
    font-size: 3em;
    margin: 20px;
  }
  
  .contact-info {
    margin: 20px;
    font-size: 1.2em;
  }
  